.btn {
  width: 100px;
  padding: 10px;
  background: chartreuse;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;

  margin: 12px;
  box-sizing: content-box;
}

.btn:hover {
  background-color: #ccc;
}

.btn:disabled {
  background: #ccc;
  cursor: default;
}
