.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #dfd1d0;
}

.header .mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .mainContainer .navigator {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header .mainContainer nav {
  display: flex;
}

.header .mainContainer nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 18px;
  gap: 10px;
}

.header .mainContainer .exit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
}

.header li {
  font-size: 1.1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header .mainContainer .login ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

.header .mainContainer .login ul .iconLogin {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;

  gap: 10px;
}
.mainContainer .login .iconLogin figure {
  cursor: pointer;
}

.header .mainContainer .login .iconCart {
  cursor: pointer;
}

.mainContainer .products {
  position: absolute;
  background: #fefefe;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  right: 89px;
  margin-top: 20px;
  z-index: 2;
  width: 32%;
  height: 400px;
  overflow-y: auto;
}

.mainContainer .span {
  position: absolute;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  width: 1.1%;
  font-size: 1.1rem;
  z-index: 3;
  animation: Span 1s forwards;
}

@keyframes Span {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mainContainer .products ul li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 550px;
}

.mainContainer .products ul li h2 {
  font-size: 1rem;
}
.mainContainer .products ul li img {
  border-radius: 10px;
}

.mainContainer .products ul .btn {
  margin-left: 60px;
  position: relative;
  right: 0;
}

.mainContainer .products ul .btn button {
  background: none;
  border: none;
  cursor: pointer;
}

.mainContainer .products .title {
  margin: 30%;
}

.mainContainer .iconImg {
  border-radius: 50%;
}
