.mainContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mainContainer ul {
  display: flex;
  flex-wrap: wrap;
}

.mainContainer ul li figure img {
  border-radius: 10px;
  opacity: 1;
  cursor: pointer;
}

.mainContainer ul li figure img:hover {
  opacity: 0.8;
}

.mainContainer ul li {
  flex-grow: 1;
  text-align: center;
}

@media (max-width: 1280px) {
  .mainContainer ul {
    display: grid;
    grid-template-columns: 1fr 200px 1fr;
    gap: 20px;
  }
}

@media (max-width: 767px) {
  .mainContainer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
