.mainContainer {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.mainContainer figure {
  margin: 15px;
  box-shadow: 0px 0 15px #ccc;
  border-radius: 10px;
}

.mainContainer figure .img {
  border-radius: 10px;
}

.mainContainer h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.mainContainer p {
  width: 500px;
  margin: 10px 0 15px 0;
}

.mainContainer span {
  font-weight: 600;
}

.mainContainer .moduleBtn {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 20px;
}

.mainContainer .moduleBtn .btnAd {
  background: darkgreen;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 20px;
}

.mainContainer .moduleBtn input {
  width: 60px;
  text-align: center;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.mainContainer .moduleBtn input:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.mainContainer .moduleBtn .btnRe {
  background: red;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
}

.mainContainer .listImgs {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.mainContainer .listImgs li {
  box-shadow: 0px 0px 10px #ccc;
}

.mainContainer .listImgs li img {
  border-radius: 10px;
}
